<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css">
    <title>🤜🏻🤛🏻 Friends-pronos</title>
</head>

<body>
    <h1>Competition ranking</h1>


    <table>
        <caption class="page2"></caption>
        <thead>
            <tr>
                <th>Players</th>
                <th>Match 1</th>
                <th>Match 2</th>
                <th>Match 3</th>
                <th>Match 4</th>
                <th>Match 5</th>
                <th>Total</th>
        </thead>
        </tr>
        <tr class="player1">
            <td>Name</td>
            <td>0 point</td>
            <td>0 point</td>
            <td>0 point</td>
            <td>0 point</td>
            <td>0 point</td>
            <td>0</td>
        </tr>
        <tr class="player2">
            <td>Name</td>
            <td>0 point</td>
            <td>0 point</td>
            <td>0 point</td>
            <td>0 point</td>
            <td>0 point</td>
            <td>0</td>
        </tr>
        <tr class="player3">
            <td>Name</td>
            <td>0 point</td>
            <td>0 point</td>
            <td>0 point</td>
            <td>0 point</td>
            <td>0 point</td>
            <td>0</td>
        </tr>
        <tr class="player4">
            <td>Name</td>
            <td>0 point</td>
            <td>0 point</td>
            <td>0 point</td>
            <td>0 point</td>
            <td>0 point</td>
            <td>0</td>
        </tr>
        <tr class="player5">
            <td>Name</td>
            <td>0 point</td>
            <td>0 point</td>
            <td>0 point</td>
            <td>0 point</td>
            <td>0 point</td>
            <td>0</td>
        </tr>

    </table>
    <button class="results">Show games results</button>

    <div class="display">
        <ol>

        </ol>
    </div>



    <script src="/static/scripts/scoreboard.js"></script>
</body>

</html>